<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twitter.university.android.yamba" >

    <uses-permission
        android:name="com.twitter.university.android.yamba.service.permission.EXECUTE" />

    <uses-permission
        android:name="com.twitter.university.android.yamba.service.permission.RECEIVE_POST_COMPLETE"/>

    <uses-permission
        android:name="com.twitter.university.android.yamba.timeline.permission.READ" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TimelineActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TweetActivity" />
    </application>

</manifest>
